# Ignorar las dependencias del proyecto
node_modules/

# Ignorar las claves privadas
google-service-account.json

# Ignorar todos los archivos .env
.env

# Ignorar cualquier otro archivo .json en caso de que contenga datos sensibles
*.json
